.editar-container{

max-width:900px;
margin:40px auto;
background:white;
padding:30px;
border-radius:15px;

box-shadow:0 5px 20px #ddd;

}



.editar-container h1{

text-align:center;

}



.editar-container form{

display:flex;
flex-direction:column;
gap:15px;

}



.editar-container input,
.editar-container textarea,
.editar-container select{


padding:12px;
border-radius:8px;
border:1px solid #ccc;


}



.imagens{

display:flex;
gap:15px;
flex-wrap:wrap;

}



.imagens img{

width:150px;
height:150px;

object-fit:cover;

border-radius:12px;

}



.variacao-box{

display:grid;
grid-template-columns:repeat(4,1fr);

gap:10px;

background:#f5f5f5;

padding:15px;

border-radius:10px;


}



button{

padding:12px;

border:none;

border-radius:8px;

cursor:pointer;

}



.salvar{

background:#111;
color:white;

font-size:18px;

}